@charset "UTF-8";
@font-face {
    font-family : Updock;
    src: url("../fonts/Updock-Regular.ttf");
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Times, "Times New Roman", "serif";
	font-weight: normal;
}
/* Body */
body {
	background-image: url("../images/bg.svg");
	background-repeat: repeat-y;
	background-size: 100% auto;
}
/* Navigation */
header {
	position: fixed;
	width: 100%;
	padding: 20px;
	display: flex;
	flew-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
/* Icon du site */
#iconBg {
	width: 90px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#iconBg:hover {
	transform: scale(1.1);
}
/* Navigation */
header nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	margin-right: 40px;
	letter-spacing: 2px;
	list-style-type: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
ul li:hover {
	color: #00FFFF;
	transform: scale(1.1);
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #00FFFF;
}
#boutonContact {
	padding: 10px;
	font-size: 16px;
	letter-spacing: 2px;	
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-width: 2px;
	border-radius: 15px;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#boutonContact:hover {
	color: #00FFFF;
	border-color: #4FC3F7;
	border-radius: 15px;
	transform: scale(1.1);
}
/* Main */
#accueil {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#nomEtPhoto {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#nom {
	font-size: 100px;
	font-family: Updock;
	color: #FFFFFF;
	margin-right: 40px;
}
#photoProfil {
	width: 280px;
}
#titreEtDescription {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#titre {
	font-size: 32px;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 30px;
}
#descriptionGeneral {
	width: 80%;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}
/* Icons RS */
.iconsRs {
	margin-left: 5%;
	margin-right: 5%;
}
.iconLinkedin {
	width: 32px;
	margin-right: 20px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconLinkedin:hover {
	transform: scale(1.15);
}
.iconGithub {
	width: 32px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconGithub:hover {
	transform: scale(1.15);
}
/* A propos */
#aPropos {
	min-height: 100vh;
	padding: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#demandeInfo {
	font-size: 16px;
	padding: 10px;
	color: #A9A9A9;
	letter-spacing: 2px;
	text-align: center;
}
#contenuAPropos {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#paragraphes {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#paragrapheMoi {
	width: 70%;
	padding: 30px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: center;
	margin-right: 200px;
	margin-left: 20px;
}
#paragrapheMoi h2 {
	color: #4FC3F7;
	font-size: 26px;
}
#paragrapheMoi p {
	font-size: 16px;
}
#paragrapheObjectifs {
	width: 70%;
	padding: 30px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: center;
	margin-left: 200px;
	margin-right: 20px;
}
#paragrapheObjectifs h2 {
	color: #4FC3F7;
	font-size: 26px;
}
#paragrapheObjectifs p {
	font-size: 16px;
}
#cvEtTelechargement {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#cv {
	width: 400px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cv:hover {
	width: 400px;
	transform: scale(1.05);
}
#cvTelechargement {
	padding: 20px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cvTelechargement:hover {
	color: #00FFFF;
	transform: scale(1.1);
}
/* Competences */
#competences {
	min-height: 100vh;
	padding: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#titreCompetences {
	color: #4FC3F7;
	font-size: 32px;
	margin-bottom: 50px;
}
#ensembleCompetences {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#tableauCompetences {
	width: 40%;
}
.ligneCompetences {
	padding: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;
}
.celluleCompetence {
	margin: 20px;
	padding: 20px;
	width: 35%;
	align-self: stretch;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	letter-spacing: 2px;
	text-align: center;
	background: linear-gradient(135deg, #1F0D72, #050505);
	border-radius: 15px;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);;
}
.celluleCompetence:hover {
	transform: scale(1.1);
}
.titreCelluleCompetence {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px; 
}
.celluleCompetence ul {
	font-size: 16px;
	list-style-type: none;
	cursor: default;
}
.ligneCompetences:first-child .celluleCompetence:first-child {
	color: #4FC3F7;
}
.ligneCompetences:first-child .celluleCompetence:nth-child(2) {
	color: #FF5959;
}
.ligneCompetences:nth-child(2) .celluleCompetence:first-child {
	color: #82FFAC;
}
.ligneCompetences:nth-child(2) .celluleCompetence:nth-child(2) {
	color: #A135FF;
}
/* Contact */
#contact {
	min-height: 100vh;
	padding: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#titreContact {
	color: #4FC3F7;
	font-size: 32px;
	margin-bottom: 50px;
}
#formulaireContact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.celluleContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.labelContact {
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: center;
}
.inputContact {
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: left;
	border-radius: 15px;
	min-width: 300px; 
}
.celluleContact p {
	opacity: 0%;
	color :red;
	font-size: 12px;
}
.message {
	min-height: 150px;
}
#envoiFormulaireContact {
	font-size: 16px;
	letter-spacing: 2px;	
	color: #FFFFFF;
	width: 120px;
	height: 45px;
	background: none;
	border-width: 2px;
	border-radius: 15px;
	border-color: #4FC3F7;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#envoiFormulaireContact:hover {
	color: #00FFFF;
	transform: scale(1.1);
}
/* Pied de page */
#piedDePage {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#textePiedDePage {
	font-size: 14px;
	color: #A9A9A9;
	letter-spacing: 2px;
	font-weight: normal;
	margin-left: 5%;
}