@charset "UTF-8";
@font-face {
    font-family : Updock;
    src: url("../fonts/Updock-Regular.ttf");
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Suisseint1, sans-serif;
	letter-spacing: 0.2px;
	font-weight: normal;
	line-height: 140%;
}

/* Body */
body {
	background-image: url("../images/bg.svg");
	background-repeat: repeat-y;
	background-size: 100% auto;
}

/* Navigation */
header {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%); 
	width: 70%;
	padding: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 80px;
}

/* Icon du site */
#iconBg {
	width: 90px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#iconBg:hover {
	transform: scale(1.1);
}

/* Navigation */
#menuNav li {
	float: left;
	font-size: 16px;
	text-align: left;
	margin-right: 40px;
	list-style-type: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#menuNav li:hover {
	transform: scale(1.1);
}
#menuNav li a {
	color: #FFFFFF;
	text-decoration: none;
}
#menuNav li:hover a {
	color: #00FFFF;
}
#boutonContact {
	padding: 10px;
	font-size: 16px;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-width: 2px;
	border-radius: 15px;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#boutonContact:hover {
	color: #00FFFF;
	border-color: #4FC3F7;
	border-radius: 15px;
	transform: scale(1.1);
}

/* Main */
#accueil {
	min-height: 100vh;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#nomEtPhoto {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#nom {
	font-size: 100px;
	font-family: Updock;
	color: #FFFFFF;
	margin-right: 40px;
}
#photoProfil {
	width: 280px;
}
#titreEtDescription {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#titre {
	font-size: 32px;
	color: #DDDCDC;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 20px;
}
#descriptionGeneral {
	width: 60%;
	font-size: 16px;
	color: #DDDCDC;
	text-align: center;
	margin-bottom: 30px;
}

/* Icons RS */
.iconsRS {
	margin-left: 5%;
	margin-right: 5%;
}
.iconLinkedin {
	width: 32px;
	margin-right: 20px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconLinkedin:hover {
	transform: scale(1.15);
}
.iconGithub {
	width: 32px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconGithub:hover {
	transform: scale(1.15);
}

/* A propos */
#aPropos {
	min-height: 100vh;
	padding: 8%;
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contenuAPropos {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#paragraphes {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#paragrapheMoi {
	width: 70%;
	padding: 30px;
	color: #DDDCDC;
	text-align: center;
	margin-right: 200px;
	margin-bottom: 40px;
	background-color: #191919;
	border-radius: 15px;
}
#paragrapheMoi h2 {
	color: #4FC3F7;
	font-size: 26px;
	margin-bottom: 15px;
}
#paragrapheMoi p {
	font-size: 16px;
}
#paragrapheMoi p span {
	color: orange;
}
#paragrapheObjectifs {
	width: 70%;
	padding: 30px;
	color: #DDDCDC;
	text-align: center;
	margin-left: 200px;
	background-color: #191919;
	border-radius: 15px;
}
#paragrapheObjectifs h2 {
	color: #4FC3F7;
	font-size: 26px;
	margin-bottom: 15px;
}
#paragrapheObjectifs p {
	font-size: 16px;
}
#paragrapheObjectifs p span {
	color: orange;
}
#cvEtTelechargement {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#cv {
	width: 400px;
	margin: 10px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cv:hover {
	width: 400px;
	transform: scale(1.05);
}
#cvTelechargement {
	padding: 15px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background-color: #191919;
	border-radius: 15px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cvTelechargement:hover {
	color: #00FFFF;
}

/* Demande d'info, bas de page */
.demandeInfo {
	margin: 10px;
	font-size: 16px;
	padding: 10px;
	color: #A9A9A9;
	text-align: center;
}
.demandeInfo a {
	color: #A9A9A9;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.demandeInfo a:hover {
	color: #00FFFF;
}

/* Competences */
#competences {
	min-height: 100vh;
	padding: 5%;
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#titreCompetences {
	color: #4FC3F7;
	font-size: 32px;
	margin-bottom: 20px;
}
#ensembleCompetences {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#tableauCompetences {
	width: 40%;
}
.ligneCompetences {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.celluleCompetence {
	margin: 20px;
	padding: 20px;
	width: 35%;
	align-self: stretch;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	background-color: #191919;
	border-radius: 15px;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);;
}
.celluleCompetence:hover {
	transform: scale(1.1);
}
.titreCelluleCompetence {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.titreCelluleCompetence:hover {
	transform: scale(1.1);
}
.celluleCompetence ul {
	font-size: 16px;
	list-style-type: none;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.celluleCompetence ul li:hover {
	transform: scale(1.1);
}
.ligneCompetences:first-child .celluleCompetence:first-child {
	color: #E0A000;
}
.ligneCompetences:first-child .celluleCompetence:nth-child(2) {
	color: #FF5959;
}
.ligneCompetences:nth-child(2) .celluleCompetence:first-child {
	color: #82FFAC;
}
.ligneCompetences:nth-child(2) .celluleCompetence:nth-child(2) {
	color: #A135FF;
}
#chimie {
	padding: 35px;
	padding-left: 0px;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background-color: #191919;
	border-radius: 15px;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);
}
#chimie:hover {
	transform: scale(1.1);
}
#illustrationEtPasseEnChimie {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: 18px;
	text-align: center;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#illustrationChimie {
	width: 200px;
}
#passeEnChimie {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#iconeThese {
	margin-right: 10px;
	width: 25px;
}
#theseChimie{
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	color: aqua;
}
#theseChimie:hover {
	color: #4FC3F7;
	transform: scale(1.1);
}
#publiChimie {
	margin: 10px;
	margin-bottom: 5px;
	color: #DDDCDC;
}
#listePubliChimie {
	list-style-type: none;
	font-size: 14px;
}
#listePubliChimie li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#listePubliChimie li:hover {
	transform: scale(1.1);
}
#listePubliChimie li a {
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	color: aqua;
}
#listePubliChimie li a:hover {
	color: #4FC3F7;
}
.iconePublication {
	margin-right: 10px;
	height: 15px;
	width: 15px;
}
#motsclefsChimie {
	margin-top: 20px;
	align-self: center;
	font-size: 10px;
	color: #A9A9A9;
}

/* Contact */
#contact {
	min-height: 100vh;
	padding: 5%;
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#titreContact {
	color: #4FC3F7;
	font-size: 32px;
	margin-bottom: 50px;
}
#formulaireContact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.celluleContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.labelContact {
	font-size: 16px;
	color: #DDDCDC;
	text-align: center;
}
.inputContact {
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	text-align: left;
	border-radius: 15px;
	min-width: 450px;
	background-color: #F4F4F4;
}
.celluleContact p {
	margin-bottom: 10px;
	opacity: 0%;
	color : red;
	font-size: 12px;
}
#confirmationEnvoi {
	margin: 10px;
	opacity: 0%;
	color : green;
	font-size: 18px;
}
.message {
	min-height: 100px;
}
#envoiContact {
	display:  flex;
	flex-direction: column;
	align-items: center;
}
#envoiFormulaireContact {
	font-size: 16px;	
	color: #FFFFFF;
	width: 120px;
	height: 45px;
	background: none;
	border-width: 2px;
	border-radius: 15px;
	border-color: #4FC3F7;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#envoiFormulaireContact:hover {
	color: #00FFFF;
	transform: scale(1.1);
}

/* Pied de page */
#piedDePage {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#textePiedDePage {
	font-size: 14px;
	color: #A9A9A9;
	font-weight: normal;
	margin-left: 5%;
}