@charset "UTF-8";
@font-face {
    font-family : Planet_Space;
    src: url("../fonts/Planet_Space.woff") format('woff'),
		 url("../fonts/Planet_Space.woff2") format('woff2');
	font-weight: normal;
  	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Suisseint1, sans-serif;
	letter-spacing: 0.2px;
	font-weight: normal;
	line-height: 140%;
}

/* Body */
body {
	background-image: url("../images/bg.svg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-color: #10001B;
}

/* Header */
header {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%); 
	width: 60%;
	padding: 10px;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}

/* Icon du site */
#iconBg {
	width: min(85px,15vw);
}

/* Navigation */
#menuNavigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#menuNavigation li {
	float: left;
	font-size: 16px;
	display: flex;
	margin: 20px;
	list-style-type: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#menuNavigation li:hover {
	transform: scale(1.1);
}
#menuNavigation li a {
	color: #00FFFF;
	text-decoration: none;
}
#menuNavigation li:hover a {
	color: #8B01A0;
}
#boutonContact {
	padding: 10px;
	font-size: 16px;
	color: #00FFFF;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#boutonContact:hover {
	color: #8B01A0;
	transform: scale(1.1);
}

/* Cacher le menu mobile sur la version Classic */
.navigationResponsive {
	display: none;
}
.ouvrirMenuBurger {
	display: none;
}
.fermerMenuBurger {
	display: none;
}

/* Header Mobile */
@media only screen and (max-width: 870px) {
	
	header {
		top: 8px;
	}
	#menuNavigation {
    	display: none;
	}
	#boutonContact {
		display: none;
	}
	.ouvrirMenuBurger {
		display: flex;
		flex-direction: column;
		z-index: 2;
	}
	.ouvrirMenuBurger span {
  		background-color: #00FFFF;
  		height: 3px;
  		width: 32px;
  		margin: 4px 5px;
  		border-radius: 10px;
	}
	.montrer-navigationResponsive {
  		display: flex;
  		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
  		padding: 10px;
  		z-index: 2;
	}
	.listeMenuBurger li {
		list-style-type: none;
		margin: 15px;
		transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	}
	.listeMenuBurger li:hover {
		transform: scale(1.05);
	}
	.listeMenuBurger li a {
		text-decoration: none;
		color: #00FFFF;
		transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	}
	.listeMenuBurger li a:hover {
		color: #8B01A0;
		transform: scale(1.05);
	}
	.montrer-fermerMenuBurger {
  		display: block;
		text-decoration: none;
		color: #00FFFF;
		font-size: 20px;
		text-align: right;
		width: 100%;
		transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	}
	.montrer-fermerMenuBurger:hover {
		color: #8B01A0;
		transform: scale(1.05);
	}

}

/* Main */
#accueil {
	min-height: 100vh;
	padding-top: min(60px,20vw);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#nomEtPhoto {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#nom {
	font-size: clamp(1.8rem, calc(7vw + 1rem), 6rem);
	font-family: Planet_Space;
	margin: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 100%;
}
#photoProfil {
	width: min(280px, 50vw);
}
#titreEtDescription {
	width: 100%;
	padding: 20px;
	gap: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#titre {
	font-size: clamp(0.5rem, calc(1vw + 1rem), 2rem);
	color: #00FFFF;
	font-weight: normal;
	text-align: center;
}
#descriptionGeneral {
	width: min(1000px, 80%);
	font-size: clamp(0.3rem, calc(1vw + 0.5rem), 1rem);
	color: #DDDCDC;
	text-align: center;
	margin-bottom: 40px;
}

/* Main Mobile */
@media only screen and (max-width: 720px) {
	
	#nomEtPhoto {
		padding: 5px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#titreEtDescription {
		padding: 5px;
		gap: 5px;
	}
	#titre {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#descriptionGeneral {
		margin-bottom: 20px;
	}
	
}

/* Icons RS */
.iconsRS {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: min(40px, 5vw);
	margin-left: min(40px, 5vw);
	gap: min(20px, 5vw);
}
.iconLinkedin {
	width: 32px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconLinkedin:hover {
	transform: scale(1.15);
}
.iconGithub {
	width: 32px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconGithub:hover {
	transform: scale(1.15);
}

/* A propos */
#aPropos {
	min-height: 100vh;
	padding-top: min(100px,22vw);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contenuAPropos {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
#paragraphes {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
#paragrapheMoi {
	padding: 30px;
	width: min(750px, 90vw);
	color: #DDDCDC;
	text-align: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#paragrapheMoi h2 {
	color: #00FFFF;
	font-size: clamp(1.3rem, calc(1.2vw + 1rem), 1.8rem);
	margin-bottom: 15px;
}
#paragrapheMoi p {
	font-size: clamp(0.6rem, calc(1vw + 0.5rem), 1rem);
	text-align: justify;
}
#paragrapheMoi p span {
	color: orange;
}
#paragrapheObjectifs {
	padding: 30px;
	width: min(750px, 90vw);
	color: #DDDCDC;
	text-align: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#paragrapheObjectifs h2 {
	color: #00FFFF;
	font-size: clamp(1.3rem, calc(1.2vw + 1rem), 1.8rem);
	margin-bottom: 15px;
}
#paragrapheObjectifs p {
	font-size: clamp(0.6rem, calc(1vw + 0.5rem), 1rem);
	text-align: justify;
}
#paragrapheObjectifs p span {
	color: orange;
}
#cvEtTelechargement {
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#cv {
	width: min(400px, 60vw);
	margin: 10px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cv:hover {
	transform: scale(1.05);
}
#cvTelechargement {
	padding: 15px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cvTelechargement:hover {
	color: #8B01A0;
}

/* A Propos Mobile */
@media only screen and (max-width: 720px) {
	
	#aPropos {
		padding-top: 25vw;
	}
	#contenuAPropos {
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 5px;
	}
	#paragraphes {
		margin: 10px;
		gap: 10px;
	}
	#cvEtTelechargement {
		margin: 0px;
	}
	
}

/* Demande d'info, bas de page */
.demandeInfo {
	margin: 15px;
	font-size: clamp(0.6rem, calc(0.5vw + 0.6rem), 0.9rem);
	padding: 10px;
	color: #A9A9A9;
	text-align: center;
}
.demandeInfo a {
	color: #A9A9A9;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.demandeInfo a:hover {
	color: #8B01A0;
}

/* Compétences */
#competences {
	min-height: 100vh;
	padding-top: min(100px,22vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#titreCompetences {
	color: #00FFFF;
	font-size: clamp(1.3rem, calc(1.2vw + 1rem), 1.8rem);
	margin-bottom: 20px;
}
#ensembleCompetences {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#ligneCompetences {
	margin: 20px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.celluleCompetence {
	padding: 20px;
	width: 210px;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
.titreCelluleCompetence {
	margin-bottom: 10px;
	color: #E0A000;
	font-weight: bold;
	font-size: 20px;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.titreCelluleCompetence:hover {
	transform: scale(1.05);
}
.celluleCompetence ul {
	list-style-type: none;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.celluleCompetence ul li {
	color: #DDDCDC;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.celluleCompetence ul li:hover {
	transform: scale(1.05);
}
#projetsEtChimie {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
#projets {
	padding: 20px;
	width: 300px;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#titreProjet {
	color: #E0A000;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#titreProjet:hover {
	transform: scale(1.05);
}
#illustrationEtProjet {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#illustrationIT {
	width: 150px;
	position: absolute;
    top: -110px;
    left: -60px;
}
#jeuDeLaVieConway a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	z-index: 1;
}
#projetConway {
	color: #DDDCDC;
	text-align: center;
	margin: 10px;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);
}
#projetConway:hover {
	transform: scale(1.05);
	color: #8B01A0;
}
#conwayImage {
	width: 55%;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);
}
#conwayImage:hover {
	transform: scale(1.05);
}
#chimie {
	padding: 30px;
	width: 300px;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#illustrationEtPasseEnChimie {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: 18px;
	text-align: center;
}
#illustrationChimie {
	width: 150px;
	position: absolute;
    top: -60px;
    right: -75px;
}
#titreChimie {
	margin-bottom: 20px;
	color: #E0A000;
	font-weight: bold;
	font-size: 20px;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#titreChimie:hover {
	transform: scale(1.05);
}
#passeEnChimie {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
	gap: 10px;
}
#iconeThese {
	margin-right: 10px;
	width: 25px;
}
#theseChimie{
	font-size: 16px;
	padding-right: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	color: #00FFFF;
}
#theseChimie:hover {
	color: #8B01A0;
	transform: scale(1.05);
}
#publiChimie {
	font-size: 16px;
	padding-left: 10px;
	color: #DDDCDC;
}
#listePubliChimie {
	padding-right: 15px;
	font-size: 14px;
	list-style-type: none;
}
#listePubliChimie li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#listePubliChimie li:hover {
	transform: scale(1.05);
}
#listePubliChimie li a {
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	color: #00FFFF;
}
#listePubliChimie li a:hover {
	color: #8B01A0;
}
.iconePublication {
	margin-right: 10px;
	height: 15px;
	width: 15px;
}
#motsclefsChimie {
	margin-top: 10px;
	font-size: 9px;
	align-self: center;
	color: #A9A9A9;
}

/* Compétences Mobile */
@media only screen and (max-width: 720px) {
	
	#competences {
		padding-top: 25vw;
	}
	#titreCompetences {
		margin-bottom: 0px;
	}
	#ligneCompetences {
		gap: 8px;
	}
	.celluleCompetence {
		width: 180px;
	}
	.titreCelluleCompetence {
		font-size: 16px;
	}
	.celluleCompetence ul {
		font-size: 14px;
	}
	#projetsEtChimie {
		flex-direction: column;
	}
	#projets {
		width: 250px;
	}
	#titreProjet {
		font-size: 16px;
	}
	#illustrationIT {
		width: 120px;
	}
	#jeuDeLaVieConway a {
		font-size: 14px;
	}
	#chimie {
		width: 250px;
	}
	#illustrationChimie {
		width: 120px;
		left: -75px;
	}
	#passeEnChimie {
		gap: 5px;
	}
	#titreChimie {
		margin-bottom: 10px;
		font-size: 16px;
	}
	#theseChimie {
		font-size: 14px;
	}
	#publiChimie {
		font-size: 14px;
	}
	#listePubliChimie {
		font-size: 12px;
	}
	#motsclefsChimie {
		margin-top: 10px;
		font-size: 7px;
	}
	
}

/* Contact */
#contact {
	min-height: 100vh;
	padding-top: min(60px,20vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#illustrationEtTitreContact {
	position: relative;
}
#enveloppeContact {
	width: 120px;
	position: absolute;
    top: -10px;
    left: -110px;
}
#titreContact {
	color: #00FFFF;
	font-size: clamp(1.3rem, calc(1.2vw + 1rem), 1.8rem);
	margin-bottom: 50px;
}
#formulaireContact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.celluleContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.labelContact {
	font-size: clamp(0.8rem, calc(0.8vw + 0.5rem), 1rem);
	color: #DDDCDC;
	text-align: center;
}
.inputContact {
	padding: 10px;
	font-size: 14px;
	text-align: left;
	border-radius: 15px;
	min-width: 450px;
	background-color: #F4F4F4;
}
.celluleContact p {
	margin-bottom: 10px;
	opacity: 0%;
	color : red;
	cursor: default;
	font-size: 12px;
}
#confirmationEnvoi {
	margin: 10px;
	opacity: 0%;
	color : green;
	cursor: default;
	font-size: 18px;
}
.message {
	min-height: 100px;
}
#envoiContact {
	display:  flex;
	flex-direction: column;
	align-items: center;
}
#envoiFormulaireContact {
	font-size: 16px;	
	color: #DDDCDC;
	width: 120px;
	height: 45px;
	cursor: pointer;
	background: none;
	border-width: 2px;
	border-radius: 15px;
	border-color: #00FFFF;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#envoiFormulaireContact:hover {
	border-color: #8B01A0;
	transform: scale(1.1);
}

@media only screen and (max-width: 720px) {
	
    #illustrationEtTitreContact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #enveloppeContact {
        position: relative;
        left: 10px;
        top: 30px;
        width: 100px;
        margin-bottom: 20px;
    }
    #titreContact {
        text-align: center;
		margin-bottom: 15px;
    }
    .inputContact {
        min-width: 80vw;
    }
	.celluleContact p {
		margin-bottom: 5px;
	}
	
}

/* Pied de page */
#piedDePage {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#textePiedDePage {
	font-size: clamp(0.5rem, calc(0.6vw + 0.3rem), 0.7rem);
	color: #A9A9A9;
	font-weight: normal;
	margin-left: 5%;
}
