@charset "UTF-8";
@font-face {
    font-family : Planet_Space;
    src: url("../fonts/Planet_Space.ttf");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Suisseint1, sans-serif;
	letter-spacing: 0.2px;
	font-weight: normal;
	line-height: 140%;
}

/* Body */
body {
	background-image: url("../images/bg.svg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-color: #10001B;
}

/* Header */
header {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%); 
	width: 60%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}

/* Icon du site */
#iconBg {
	width: 85px;
}

/* Navigation */
#menuNavigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#menuNavigation li {
	float: left;
	font-size: 16px;
	display: flex;
	margin: 20px;
	list-style-type: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#menuNavigation li:hover {
	transform: scale(1.1);
}
#menuNavigation li a {
	color: #00FFFF;
	text-decoration: none;
}
#menuNavigation li:hover a {
	color: #8B01A0;
}
#boutonContact {
	padding: 10px;
	font-size: 16px;
	color: #00FFFF;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#boutonContact:hover {
	color: #8B01A0;
	transform: scale(1.1);
}

/* Cacher le menu mobile sur la version Classic */
.navigationResponsive {
	display: none;
}
.ouvrirMenuBurger {
	display: none;
}
.fermerMenuBurger {
	display: none;
}

/* Header Mobile */
@media only screen and (max-width: 720px) {
#menuNavigation {
    display: none;
}
#boutonContact {
	display: none;
}
.ouvrirMenuBurger {
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.ouvrirMenuBurger span {
  	background-color: #DDDCDC;
  	height: 3px;
  	width: 32px;
  	margin: 4px 5px;
  	border-radius: 10px;
}
.montrer-navigationResponsive {
  	display: flex;
  	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0,0,0,0.40);
  	padding: 10px;
  	border-radius: 15px;
  	z-index: 2;
}
.listeMenuBurger li {
	list-style-type: none;
	margin: 15px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.listeMenuBurger li:hover {
	transform: scale(1.05);
}
.listeMenuBurger li a {
	text-decoration: none;
	color: #00FFFF;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.listeMenuBurger li a:hover {
	color: #8B01A0;
	transform: scale(1.05);
}
.montrer-fermerMenuBurger {
  	display: block;
	text-decoration: none;
	color: #00FFFF;
	font-size: 20px;
	text-align: right;
	width: 100%;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.montrer-fermerMenuBurger:hover {
	color: #8B01A0;
	transform: scale(1.05);
}

}

/* Main */
#accueil {
	min-height: 100vh;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#nomEtPhoto {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#nom {
	font-size: 100px;
	font-family: Planet_Space;
	color: #FFFFFF;
	margin-right: 40px;
}
#photoProfil {
	width: 280px;
}
#titreEtDescription {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#titre {
	font-size: 32px;
	color: #00FFFF;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 20px;
}
#descriptionGeneral {
	width: 60%;
	font-size: 16px;
	color: #DDDCDC;
	text-align: center;
	margin: 40px;
	margin-bottom: 60px;
}

/* Icons RS */
.iconsRS {
	margin-left: 5%;
	margin-right: 5%;
}
.iconLinkedin {
	width: 32px;
	margin-right: 20px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconLinkedin:hover {
	transform: scale(1.15);
}
.iconGithub {
	width: 32px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.iconGithub:hover {
	transform: scale(1.15);
}

/* A propos */
#aPropos {
	min-height: 100vh;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contenuAPropos {
	width: 100%;
	padding-right: 8%;
	padding-left: 8%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#paragraphes {
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#paragrapheMoi {
	padding: 30px;
	width: 750px;
	color: #DDDCDC;
	text-align: center;
	margin-bottom: 40px;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#paragrapheMoi h2 {
	color: #00FFFF;
	font-size: 26px;
	margin-bottom: 15px;
}
#paragrapheMoi p {
	font-size: 16px;
	text-align: justify;
}
#paragrapheMoi p span {
	color: orange;
}
#paragrapheObjectifs {
	padding: 30px;
	width: 750px;
	color: #DDDCDC;
	text-align: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#paragrapheObjectifs h2 {
	color: #00FFFF;
	font-size: 26px;
	margin-bottom: 15px;
}
#paragrapheObjectifs p {
	font-size: 16px;
	text-align: justify;
}
#paragrapheObjectifs p span {
	color: orange;
}
#cvEtTelechargement {
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#cv {
	width: 400px;
	margin: 10px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cv:hover {
	transform: scale(1.05);
}
#cvTelechargement {
	padding: 15px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#cvTelechargement:hover {
	color: #8B01A0;
}

/* Demande d'info, bas de page */
.demandeInfo {
	margin: 15px;
	font-size: 16px;
	padding: 10px;
	color: #A9A9A9;
	text-align: center;
}
.demandeInfo a {
	color: #A9A9A9;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.demandeInfo a:hover {
	color: #8B01A0;
}

/* Competences */
#competences {
	padding-top: 140px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#titreCompetences {
	color: #00FFFF;
	font-size: 32px;
	margin-bottom: 20px;
}
#ensembleCompetences {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#ligneCompetences {
	margin: 20px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.celluleCompetence {
	margin: 10px;
	padding: 20px;
	width: 210px;
	height: 210px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
.titreCelluleCompetence {
	margin-bottom: 10px;
	color: #E0A000;
	font-weight: bold;
	font-size: 20px;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.titreCelluleCompetence:hover {
	transform: scale(1.05);
}
.celluleCompetence ul {
	font-size: 16px;
	list-style-type: none;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.celluleCompetence ul li {
	color: #DDDCDC;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
.celluleCompetence ul li:hover {
	transform: scale(1.05);
}
#projetsEtChimie {
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#projets {
	margin-right: 40px;
	padding: 20px;
	width: 300px;
	height: 300px;
	min-width: 300px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#titreProjet {
	color: #E0A000;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#titreProjet:hover {
	transform: scale(1.05);
}
#illustrationEtProjet {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#illustrationIT {
	width: 150px;
	position: absolute;
    top: -110px;
    left: -60px;
}
#jeuDeLaVieConway a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	z-index: 1;
}
#projetConway {
	color: #DDDCDC;
	text-align: center;
	margin: 10px;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);
}
#projetConway:hover {
	transform: scale(1.05);
	color: #8B01A0;
}
#conwayImage {
	width: 55%;
	transition: transform 0.3s cubic-bezier(.46,.03,.52,.96);
}
#conwayImage:hover {
	transform: scale(1.05);
}
#chimie {
	padding: 30px;
	width: 300px;
	height: 300px;
	min-width: 280px;
	min-height: 280px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.40);
	border-radius: 15px;
}
#illustrationEtPasseEnChimie {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: 18px;
	text-align: center;
}
#illustrationChimie {
	width: 150px;
	position: absolute;
    top: -60px;
    right: -75px;
}
#titreChimie {
	margin-bottom: 20px;
	color: #E0A000;
	font-weight: bold;
	font-size: 20px;
	cursor: default;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#titreChimie:hover {
	transform: scale(1.05);
}
#passeEnChimie {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
}
#iconeThese {
	margin-right: 10px;
	width: 25px;
}
#theseChimie{
	font-size: 16px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	color: #00FFFF;
}
#theseChimie:hover {
	color: #8B01A0;
	transform: scale(1.05);
}
#publiChimie {
	font-size: 16px;
	margin: 10px;
	margin-bottom: 5px;
	padding-left: 30px;
	color: #DDDCDC;
}
#listePubliChimie {
	list-style-type: none;
	font-size: 14px;
}
#listePubliChimie li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#listePubliChimie li:hover {
	transform: scale(1.05);
}
#listePubliChimie li a {
	text-decoration: none;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
	color: #00FFFF;
}
#listePubliChimie li a:hover {
	color: #8B01A0;
}
.iconePublication {
	margin-right: 10px;
	height: 15px;
	width: 15px;
}
#motsclefsChimie {
	padding-left: 15px;
	margin-top: 20px;
	align-self: center;
	font-size: 9px;
	color: #A9A9A9;
}

/* Contact */
#contact {
	min-height: 100vh;
	padding-top: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#illustrationEtTitreContact {
	position: relative;
}
#enveloppeContact {
	width: 180px;
	position: absolute;
    top: -10px;
    left: -170px;
}
#titreContact {
	color: #00FFFF;
	font-size: 32px;
	margin-bottom: 50px;
}
#formulaireContact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.celluleContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.labelContact {
	font-size: 16px;
	color: #DDDCDC;
	text-align: center;
}
.inputContact {
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	text-align: left;
	border-radius: 15px;
	min-width: 450px;
	background-color: #F4F4F4;
}
.celluleContact p {
	margin-bottom: 10px;
	opacity: 0%;
	color : red;
	cursor: default;
	font-size: 12px;
}
#confirmationEnvoi {
	margin: 10px;
	opacity: 0%;
	color : green;
	cursor: default;
	font-size: 18px;
}
.message {
	min-height: 100px;
}
#envoiContact {
	display:  flex;
	flex-direction: column;
	align-items: center;
}
#envoiFormulaireContact {
	font-size: 16px;	
	color: #DDDCDC;
	width: 120px;
	height: 45px;
	cursor: pointer;
	background: none;
	border-width: 2px;
	border-radius: 15px;
	border-color: #00FFFF;
	transition: 0.3s cubic-bezier(.46,.03,.52,.96);
}
#envoiFormulaireContact:hover {
	border-color: #8B01A0;
	transform: scale(1.1);
}

/* Pied de page */
#piedDePage {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#textePiedDePage {
	font-size: 14px;
	color: #A9A9A9;
	font-weight: normal;
	margin-left: 5%;
}
